#header {
    display: flex;
    height: 2rem;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    font-weight: bold;
    font-style: italic;

    #header-menu {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        justify-content: space-evenly;

        .header-menu-entry {
            margin-right: 1rem;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}