{{ $style := resources.Get "scss/entry.scss" | resources.ToCSS }}
{{ $karla := resources.Get "fonts/Karla-Regular.ttf" }}
{{ $karlaItalic := resources.Get "fonts/Karla-Italic.ttf" }}
{{ $karlaBold := resources.Get "fonts/Karla-Bold.ttf" }}
{{ $karlaBoldItalic := resources.Get "fonts/Karla-BoldItalic.ttf" }}

<style>
@font-face {
    src: url( '{{ $karla.Permalink }}' );
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400
}
@font-face {
    src: url( '{{ $karlaItalic.Permalink }}' );
    font-family: 'Karla';
    font-style: italic;
    font-weight: 400
}
@font-face {
    src: url( '{{ $karlaBold.Permalink }}');
    font-family: 'Karla';
    font-weight: 700
}
@font-face {
    src: url( '{{ $karlaBoldItalic.Permalink }}');
    font-family: 'Karla';
    font-style: italic;
    font-weight: 700
}
</style>

<meta charset="utf-8">
<link rel="stylesheet" href="{{ $style.Permalink }}">